<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Task Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/styles.css' %}">
    <style>
        .task-detail {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .comment {
            margin-bottom: 15px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        .comment p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="task-detail">
        <h1><strong>Номер заявки: </strong>{{ task.subject }}</h1>
        <p><strong>Статус заявки:</strong> {{ task.status }}</p>
         <p>  <strong>Аннотация:</strong> {{ task.annotation }}</p>
        <p><strong>Краткое описание:</strong> {{ task.description }}</p>
        <p><strong>Дата создания:</strong> {{ task.created_at }}</p>
    </div>

    <div class="task-detail">
    <h2>Комментарии по заявке</h2>
    <ul>
        {% for comment in comments %}
            <li class="comment">
                <p><strong>Автор:</strong> {{ comment.author }}</p>
                <p><strong>Дата комментария:</strong> {{ comment.created_at }}</p>
                <p><strong>Комментарий:</strong>{{ comment.body }}</p>
                {% if comment.attachments.all %}
                    <p>Вложения:</p>
                    <ul>
                        {% for attachment in comment.attachments.all %}
                            <li><a class="attachment-link" href="{{ attachment.file.url }}">Скачать {{ attachment.file_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
    </div>

    <a href="{% url 'task_list' %}">Вернуться к списку заявок</a>
</body>
</html>
