<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/styles.css' %}">
</head>
<body>
    <h1>Список заявок в службу поддержки</h1>

    <form method="GET" action="" class="search-form">
        <input type="text" name="q" placeholder="Введи номер заявки" value="{{ request.GET.q }}">
        <button type="submit">Поиск</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>
                    <a href="?sort_by=created_at&sort_order={% if sort_by == 'created_at' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Дата создания
                    </a>
                </th>
                <th>
                    <a href="?sort_by=id&sort_order={% if sort_by == 'id' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Номер заявки
                    </a>
                </th>
                <th>
                    <a href="?sort_by=status&sort_order={% if sort_by == 'status' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Статус
                    </a>
                </th>
                <th>
                    <a href="?sort_by=last_comment_date&sort_order={% if sort_by == 'last_comment_date' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Дата последнего комментария
                    </a>
                </th>
                <th>
                    <a href="?sort_by=subject&sort_order={% if sort_by == 'subject' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Аннотация заявки
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.created_at }}</td>
                <td><a href="{% url 'task_detail' task.subject %}">{{ task.subject }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.last_comment_date }}</td>
                <td>{{ task.annotation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        {% if tasks.has_previous %}
            <a href="?page={{ tasks.previous_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">Previous</a>
        {% endif %}

        {% if tasks.has_next %}
            <a href="?page={{ tasks.next_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">Next</a>
        {% endif %}
    </div>
</body>
</html>